<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- ResultActivity -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- webActivity -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- ResultActivity -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- RecordActivity -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- BluetoothActivity, ResultActivity -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locale_config"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.P1.AppCompat"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">
        <activity
            android:name=".views.libview.AiChatActivity"
            android:exported="false" />
        <activity
            android:name=".views.VideoSpiderActivity"
            android:exported="false" />
        <activity
            android:name=".views.libview.BatteryActivity"
            android:exported="false" />
        <activity
            android:name=".views.AudioActivity"
            android:exported="false" />
        <activity
            android:name=".views.QrScanActivity"
            android:exported="false" />
        <activity
            android:name=".views.libview.MindMapActivity"
            android:exported="false" />
        <activity
            android:name=".views.libview.NumberHeightViewActivity"
            android:exported="false" />
        <activity
            android:name=".views.TestActivity"
            android:exported="false" />
        <activity
            android:name=".views.libview.RecyclerviewActivity"
            android:exported="false" />
        <activity
            android:name=".views.BluetoothActivity"
            android:exported="false" />
        <activity
            android:name=".views.ServerActivity"
            android:exported="false" />
        <activity
            android:name=".views.libview.SwapMenuLayoutActivity"
            android:exported="false"
            android:theme="@style/Theme.P1.AppCompat" />
        <activity
            android:name=".views.libview.ViewActivity"
            android:exported="false" />
        <activity
            android:name=".views.WebContentActivity"
            android:exported="false" />
        <activity
            android:name=".views.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".views.DialogActivity"
            android:exported="false" />
        <activity
            android:name=".views.LanguageActivity"
            android:exported="false" />
        <activity
            android:name=".views.TaskActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.P1.AppCompat.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".views.BindServer" /> <!-- 分享文件， RecordActivity -->
        <!-- https://developer.android.google.cn/training/secure-file-sharing/setup-sharing?hl=zh-cn -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/share_file" />
        </provider>

        <service
            android:name="com.munch1182.lib.helper.sound.MusicNotificationListener"
            android:exported="false"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>