<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- ResultActivity -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- webActivity -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- ResultActivity -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- RecordActivity -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- BluetoothActivity -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locale_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.P1.AppCompat"
        tools:targetApi="tiramisu">
        <activity
            android:name=".views.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".views.AudioActivity"
            android:exported="false" />
        <activity
            android:name=".views.ScanActivity"
            android:exported="false" />
        <activity
            android:name=".views.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".views.DialogActivity"
            android:exported="false" />
        <activity
            android:name=".views.LanguageActivity"
            android:exported="false" />
        <activity
            android:name=".views.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.P1.AppCompat.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 分享文件， RecordActivity -->
        <!-- https://developer.android.google.cn/training/secure-file-sharing/setup-sharing?hl=zh-cn -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/share_file" />
        </provider>
    </application>

</manifest>